<?xml version="1.0" encoding="UTF-8"?>
<jsp-config>

  <jsp-property-group>

    <display-name>Simple File Receptor</display-name>

    <url-pattern>*.jsp</url-pattern>

    <el-ignored>false</el-ignored>

    <scripting-invalid>false</scripting-invalid>

    <is-xml>false</is-xml>

  </jsp-property-group>

</jsp-config>
